body {
    background-color: #eceff1;
}

#formulario-perguntas {
    margin-top: 5vh;
}

div.container > h1 {
    text-align: center;
}

div.container > a, div.container > div.card > div.card-footer > button {
    display: flex;
    justify-self: end;
}

form#form_resposta > h3 {
    text-align: center;
}